4STJ Serialization Modifies Polygon Shell.IsCCW

```C#
//Set the SRID so the DB known this is geography
polygon.SRID = GeometryHelper.SpatialReferenceId;

polygon.Normalize();

//The polygons which are going to the DB must be in CCW order.
if (false == polygon.Shell.IsCCW)
{
	polygon = polygon.Reverse() as Polygon;
}
```

I have this code preceding code which serialized to geojson

```C#
//Write the Polygon to a geojson file
using (var fileStream = File.Create("polygonutf8.geojson"))
{
	using (var utf8JsonWriter = new System.Text.Json.Utf8JsonWriter(fileStream, new System.Text.Json.JsonWriterOptions()
	{
		Indented = true
	}))
	{
		System.Text.Json.JsonSerializer.Serialize(utf8JsonWriter, new FeatureCollection() { { new Feature(polygon, null) } }, JsonSerializerOptions);
	}
}
```
After which the polygon`Shell.IsCCW` is `false` somehow..

I have to again run:

```C#
polygon.Normalize();

//The polygons which are going to the DB must be in CCW order.
if (false == polygon.Shell.IsCCW)
{
	polygon = polygon.Reverse() as Polygon;
}
```

I have not looked into the code to see where or why this occurs.

But I know i did not have to do this until I switched to the 4stj version of the project.

From [RFC7946 §3.1.6](https://tools.ietf.org/html/rfc7946#section-3.1.6) (clarified by [errata](https://www.rfc-editor.org/errata/eid5069)):

> A linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are clockwise, and holes are counterclockwise.

4STJ [implements this rule](https://github.com/NetTopologySuite/NetTopologySuite.IO.GeoJSON/blob/23afedbb402d053d72e73749633f510cf6e96429/src/NetTopologySuite.IO.GeoJSON4STJ/Converters/StjGeometryConverter.Coordinates.cs#L21-L25).  Apparently, the Newtonsoft.Json implementation does not, so technically, the older library is the one behaving improperly.

Was just letting you know, you can close this if desired.

Thank you!

`NetTopologySuite.IO.GeoJSON` serializer now _optionally_ adheres to mentioned RFC7946 §3.1.6 (clarified by errata).

Just a heads-up:

Azure CosmosDb specifically interprets the spec oposite of what 4STJ does at the moment:

"Points within a Polygon must be specified in counter-clockwise order. A Polygon specified in clockwise order represents the inverse of the region within it."
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-geospatial-intro

Not that the workings of Microsoft should dictate what NTS does, but since this issue is still open, and there seems to be consensus that the _other_ right-hand-rule is correct, and that this fact lead me down a long investigative path, I really hope this issue can get some traction.

I can contribute code if that is needed!


> From [RFC7946 §3.1.6](https://tools.ietf.org/html/rfc7946#section-3.1.6) (clarified by [errata](https://www.rfc-editor.org/errata/eid5069)):
> 
> > A linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are clockwise, and holes are counterclockwise.
> 
> 4STJ [implements this rule](https://github.com/NetTopologySuite/NetTopologySuite.IO.GeoJSON/blob/23afedbb402d053d72e73749633f510cf6e96429/src/NetTopologySuite.IO.GeoJSON4STJ/Converters/StjGeometryConverter.Coordinates.cs#L21-L25). Apparently, the Newtonsoft.Json implementation does not, so technically, the older library is the one behaving improperly.

In the meantime, things have apparently changed. The standard now states:
> A linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.
https://www.rfc-editor.org/rfc/rfc7946#section-3.1.6

This would also align more with other specifications (I know Stack* sites aren't a reference, but it has a nice summary): https://gis.stackexchange.com/a/147971

This issue is open for some time, is it still under investigation?